parameters:
  level: max
  paths:
    - src
    - tests
  autoload_files:
    - %currentWorkingDirectory%/vendor/autoload.php
    - %currentWorkingDirectory%/vendor/squizlabs/php_codesniffer/autoload.php
    - %currentWorkingDirectory%/vendor/squizlabs/php_codesniffer/src/Util/Tokens.php
  excludes_analyse:
    - */tests/*/data/*
  ignoreErrors:
    - '~has a nullable return type declaration~'
    - '~with a nullable type declaration~'
    - '~has parameter \$.* with default value~'
    - '~has parameter \$.* with null as default value~'
    - '~Only booleans are allowed in an if condition, ~'
    - '~Only booleans are allowed in \|\|~'
    - '~Only booleans are allowed in \&\&~'
    - '~Construct empty\(\) is not allowed\. Use more strict comparison~'
    - '~Language construct isset\(\) should not be used~'
    - '~Useless \@throws~'
    - '~Control structures using switch should not be used~'
    - '~Language construct empty\(\) should not be used~'
  exceptionRules:
    reportUnusedCatchesOfUncheckedExceptions: false
    uncheckedExceptions: []
  classesAllowedToBeExtended:
  	- UnexpectedValueException
  	- InvalidArgumentException

includes:
  - vendor/phpstan/phpstan-strict-rules/rules.neon
  - vendor/phpstan/phpstan-phpunit/extension.neon
  - vendor/phpstan/phpstan-phpunit/rules.neon
  - vendor/pepakriz/phpstan-exception-rules/extension.neon
  - vendor/phpstan/phpstan-deprecation-rules/rules.neon
  - vendor/localheinz/phpstan-rules/rules.neon
